@import url(Flower.css);

* {
    margin: 0;
    padding: 0;
}
body {
    background: #f4f4f4;
    font: 15px/1.6 Myriad Pro;
    color: #404040;
}

a {
    color: #817a79;
    text-decoration: none;

}
.active, a:hover {
    color: #090909;
}

#wrapper {
    width: 1280px;
    margin: 0 auto;
}

#logo {
    width: 131px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 162px;


}

#menu {
    float: right;
    margin-top: 33px;
    margin-right: 30px;
}

#menu ul li {
    list-style-type: none;
    float: left;
    margin-left: 63px;
}

#header-image {
    height: 587px;
    background: url(../images/flower_background.jpg) no-repeat;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 20px;
    position: relative;
}

#login {
    width: 85px;
    height: 25px;
    background: #de6d6e;
    border: none;
    float: right;
    position: relative;
    margin-top: 30px;
    margin-right: 169px;

}

.loginButton{
    background-color: #de6d6e;
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 103px 102px 102px 102px;
    cursor: pointer;
}

#header {
    opacity: 0.8;
    overflow: hidden;
    background-color: white;
    height: 80px;
}


.image {

    width : 1280px;
    height: 850px;
    position: absolute;
}


#white-box {
    width: 1280px;
    height: 87px;
    background: white;
    opacity: 0.9;
    position: absolute;
}

#text-image {
    position: absolute;
    font: 68px Myriad Pro;
    color: white;

}

#footer {

    height: 260px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

#footer-content {
    background: #232223;
    width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

tr td {
    float: right;

}